html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 14px;
    font-family: sans-serif;
    font-style: normal;   
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    padding: 1rem;
    max-width: 80vw;
}

footer{
    background-color: #e3dfef;
    padding: 1rem;
    text-align: center;
    width: 100%;
}


header {
    text-align: center;
    background-color: #a68dea;
    padding: 1vh 0;
    color: white;
    width: 100%;
}

main > div{
    padding: 1rem;
}

table {
    width: 75vw;
}

th {
    background-color: #a68dea;
    color: white;
}

.tr-data-row:hover{
    background-color: #8dc3ea;
    cursor: pointer
}

.row-selected {
    background-color: #4cabef;
}

button, input[type="submit"] {
    background-color: #a68dea;
    color: white;
    border: none;
    padding: .3rem;
}

button:hover, input[type="submit"]:hover{
    cursor: pointer;
    background-color: #8dc3ea;
}

button:disabled, input[type="submit"]:disabled{
    background-color: rgb(174, 174, 174);
    cursor: default
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.col{
    display: flex;
    flex-direction: column;
}

.width100{
    width: 100%;
}

dialog{
    position: fixed;
    top: 25vh;
}

textarea{
    min-height: 5rem;
}

form > div {
    margin-bottom: 1rem;
}

dialog{
    padding: 0;
    background-color: #a68dea;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

dialog > h1{
    color: white;
    padding: 1rem;
}

dialog > form {
    background-color: white;
    padding: 1rem;
}

.scroll{
    overflow-y: scroll;
    height: 10rem;
    width: fit-content;
}

.sticky-header > th{
    position: sticky;
    top: 0;
}

.overdue{
    color: red;
}

.no-deadline{
    color: grey;
}

th{
    padding: .3rem;
}