<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Tasky</title>
        <link rel="stylesheet" href="../static/index.css"/>
    </head>
    <body>
        <header>
            <h1>Tasky</h1>
        </header>
        <main>
            <div>
                <div class="col">
                    <h2>Today's Events</h2>
                    <p><a href="#">Open Calendar</a></p>
                    <table>
                        <tr>
                            <th>Event</th>
                            <th>Time</th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <td>Cleaning</td>
                            <td>9am - 11 am</td>
                            <td class="row"><button class="width100">Open</button></td>
                        </tr>
                        <tr>
                            <td>Dinner</td>
                            <td>6pm - 7pm</td>
                            <td class="row"><button class="width100">Open</button></td>
                        </tr>
                    </table>
                    
                </div>
                <div>
                    <h2>Tasks due this week</h2>
                    <table>
                        <tr>
                            <th>Task</th>
                            <th>Due</th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <td>Japanese Homework</td>
                            <td>Today</td>
                            <td class="row"><button>Open</button><button>Complete</button></td>
                        </tr>
                        <tr>
                            <td>Send Report</td>
                            <td>Friday</td>
                            <td class="row"><button>Open</button><button>Complete</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <h2>Categories</h2>
                <div class="scroll">
                    <table>
                        <tr>
                            <th>Category</th>
                            <th class="row">Actions</th>
                        </tr>
                        <tr>
                            <td >Homework</td>
                            <td class="row"><button class="width100">Open</button></td>
                        </tr>
                        <tr>
                            <td>Chores</td>
                            <td class="row"><button class="width100">Open</button></td>
                        </tr>
                        <tr>
                            <td>Work</td>
                            <td class="row"><button class="width100">Open</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <button>Create a New Task</button>
                <button>Create a New Category</button>
            </div>
        </main>
        <footer>
            <p>Copyright © 2025 Micah's Tools</p>  
        </footer>
    </body>
</html>