<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Tasky</title>
        <link rel="stylesheet" href="../static/index.css"/>
    </head>
    <body>
        <header>
            <h1>Tasky</h1>
        </header>
        <main>
            <div>
                <div class="col">
                    <h2>Today's Events</h2>
                    <p><a href="#">Open Calendar</a></p>
                    <table>
                        <tr>
                            <th>Event</th>
                            <th>Time</th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <td>Cleaning</td>
                            <td>9am - 11 am</td>
                            <td class="row"><button class="width100">Open</button></td>
                        </tr>
                        <tr>
                            <td>Dinner</td>
                            <td>6pm - 7pm</td>
                            <td class="row"><button class="width100">Open</button></td>
                        </tr>
                    </table>
                    
                </div>
                <div>
                    <h2>Tasks due this week</h2>
                    <table>
                        <tr>
                            <th>Task</th>
                            <th>Due</th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <td>Japanese Homework</td>
                            <td>Today</td>
                            <td class="row"><button>Open</button><button>Complete</button></td>
                        </tr>
                        <tr>
                            <td>Send Report</td>
                            <td>Friday</td>
                            <td class="row"><button>Open</button><button>Complete</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <h2>Categories</h2>
                <div class="scroll">
                    <table>
                        <tr>
                            <th>Category</th>
                            <th class="row">Actions</th>
                        </tr>
                        <tr>
                            <td >Homework</td>
                            <td class="row"><button class="width100">Open</button></td>
                        </tr>
                        <tr>
                            <td>Chores</td>
                            <td class="row"><button class="width100">Open</button></td>
                        </tr>
                        <tr>
                            <td>Work</td>
                            <td class="row"><button class="width100">Open</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <button id="new-task-btn">Create a New Task</button>
                <button>Create a New Category</button>
            </div>
        </main>
        <footer>
            <p>Copyright © 2025 Micah's Tools</p>  
        </footer>
        <dialog id="new-task-dialog">
            <h1>Create a New Task</h1>
            <form id="new-task-form">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <label for="task-name-input">Name<span style="color: red;">*</span> :</label>
                    <input id="task-name-input" type="text" required/>
                </div>
                <div class="col">
                    <label for="task-description-ta">Description:</label>
                    <textarea id="task-description-ta"></textarea>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <label for="deadline-input">Deadline:</label>
                    <input type="checkbox" id="deadline-checkbox"/>
                    <input type="date" id="deadline-input" disabled required/>
                </div>
                <div>
                    <p style="color: red">*Required</p>
                </div>
                <div class="row" style="margin-bottom: 0;">
                    <button id="cancel-new-task-btn">Cancel</button>
                    <input id="submit-new-task-btn" type="submit"/>
                </div>
            </form>
        </dialog>
        <script type="module" src="../static/index.js"></script>
    </body>
</html>